@media (min-width: 900px) {
  .main {
    position: relative;
    .bg {
      z-index: -2;
      filter: brightness(40%);
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
    .wrapper {
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 50;
      .mainLogo {
        margin-top: 150px;
        z-index: 50;
      }
      .mainLogoTablet {
        display: none;
      }
      .mainLogoMobile {
        display: none;
      }
      .textContainer {
        text-align: center;
        margin-top: 100px;
        z-index: 50;
        .upperText {
          font-family: "Merriweather-Bold";
          color: #ffffff;
          font-size: 14px;
          line-height: 130.02%;
          letter-spacing: 0.09em;
          margin: 0;
          padding: 0;
        }
        .lowerText {
          font-family: "Merriweather-LightItalic";
          color: #ffffff;
          font-size: 14px;
          line-height: 147%;
          margin: 0;
          padding: 0;
          margin-top: 8px;
        }
      }
      .bth {
        background: #ffffff;
        border-radius: 12px;
        padding: 16px 28px;
        color: #2b5daa;
        font-family: "Merriweather-Regular";
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 180px;
        border: 0px;
        z-index: 50;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:hover {
          background: #2b5daa;
          color: #ffffff;
          cursor: pointer;
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }
}

@media (min-width: 550px) and (max-width: 899px) {
  .main {
    position: relative;
    .bg {
      z-index: -2;
      filter: brightness(40%);
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
    .wrapper {
      max-width: 899px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 50;
      .mainLogo {
        display: none;
      }
      .mainLogoTablet {
        margin-top: 150px;
        z-index: 50;
      }
      .mainLogoMobile {
        display: none;
      }
      .textContainer {
        text-align: center;
        margin-top: 100px;
        z-index: 50;
        .upperText {
          font-family: "Merriweather-Bold";
          color: #ffffff;
          font-size: 14px;
          line-height: 130.02%;
          letter-spacing: 0.09em;
          margin: 0;
          padding: 0;
        }
        .lowerText {
          font-family: "Merriweather-LightItalic";
          color: #ffffff;
          font-size: 14px;
          line-height: 147%;
          margin: 0;
          padding: 0;
          margin-top: 8px;
        }
      }
      .bth {
        background: #ffffff;
        border-radius: 12px;
        padding: 16px 28px;
        color: #2b5daa;
        font-family: "Merriweather-Regular";
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 180px;
        border: 0px;
        z-index: 50;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:hover {
          background: #2b5daa;
          color: #ffffff;
          cursor: pointer;
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }
}

@media (max-width: 549px) {
  .main {
    position: relative;
    .bg {
      z-index: -2;
      filter: brightness(40%);
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
    .wrapper {
      max-width: 549px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 50;
      .mainLogo {
        display: none;
      }
      .mainLogoTablet {
        display: none;
      }
      .mainLogoMobile {
        margin-top: 120px;
        z-index: 50;
      }
      .textContainer {
        text-align: center;
        margin-top: 100px;
        z-index: 50;
        .upperText {
          font-family: "Merriweather-Bold";
          color: #ffffff;
          font-size: 14px;
          line-height: 130.02%;
          letter-spacing: 0.09em;
          margin: 0;
          padding: 0;
        }
        .lowerText {
          font-family: "Merriweather-LightItalic";
          color: #ffffff;
          font-size: 14px;
          line-height: 147%;
          margin: 0;
          padding: 0;
          margin-top: 8px;
        }
      }
      .bth {
        background: #ffffff;
        border-radius: 12px;
        padding: 16px 28px;
        color: #2b5daa;
        font-family: "Merriweather-Regular";
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 180px;
        border: 0px;
        z-index: 50;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:hover {
          background: #2b5daa;
          color: #ffffff;
          cursor: pointer;
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }
}
